{% extends 'base.html.twig' %}

{% block title %}Ajouter un produit{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/new-product.css') }}">
{% endblock %}

{% block body %}

<h1>Ajouter un produit</h1>

{{ form_start(productForm, {'attr': {'enctype': 'multipart/form-data'}}) }}
    {{ form_row(productForm.name) }}
    {{ form_row(productForm.description) }}
    {{ form_row(productForm.category) }}
    {{ form_row(productForm.price) }}
    {{ form_row(productForm.imageFile) }}
    <button type="submit">Publier le produit</button>
{{ form_end(productForm) }}

{% endblock %}