{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('styles/home.css') }}">
{% endblock %}

{% block header %}
<section class="hero">
  <div class="hero-top">
    <div class="hero-left">
      <a href="{{ path('app_search') }}" class="icon">
        <svg width="20" height="20" viewBox="0 0 51 51" fill="none">
          <path d="M20.1875 34C16.3271 34 13.0603 32.6627 10.387 29.988C7.71375 27.3133 6.37642 24.0465 6.375 20.1875C6.37358 16.3285 7.71092 13.0617 10.387 10.387C13.0631 7.71233 16.3299 6.375 20.1875 6.375C24.0451 6.375 27.3126 7.71233 29.9901 10.387C32.6676 13.0617 34.0043 16.3285 34 20.1875C34 21.7458 33.7521 23.2156 33.2563 24.5969C32.7604 25.9781 32.0875 27.2 31.2375 28.2625L43.1375 40.1625C43.5271 40.5521 43.7219 41.0479 43.7219 41.65C43.7219 42.2521 43.5271 42.7479 43.1375 43.1375C42.7479 43.5271 42.2521 43.7219 41.65 43.7219C41.0479 43.7219 40.5521 43.5271 40.1625 43.1375L28.2625 31.2375C27.2 32.0875 25.9781 32.7604 24.5969 33.2563C23.2156 33.7521 21.7458 34 20.1875 34ZM20.1875 29.75C22.8438 29.75 25.1019 28.8207 26.962 26.962C28.8221 25.1033 29.7514 22.8452 29.75 20.1875C29.7486 17.5298 28.8193 15.2724 26.962 13.4151C25.1048 11.5579 22.8466 10.6278 20.1875 10.625C17.5284 10.6222 15.271 11.5522 13.4151 13.4151C11.5593 15.278 10.6293 17.5355 10.625 20.1875C10.6208 22.8395 11.5508 25.0977 13.4151 26.962C15.2795 28.8263 17.5369 29.7557 20.1875 29.75Z" fill="white"/>
        </svg>
      </a>
    </div>

    <a href="{{ path('app_accueil') }}">
      <img class="hero-logo" src="{{ asset('images/logo-MBL.png') }}" alt="Logo MadeByLoop">
    </a>

    <div class="hero-icons">
      {% if app.user %}
        {# Panier #}
        <a href="{{ path('app_cart') }}" class="icon">
          <svg width="22" height="22" viewBox="0 0 43 43" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M16.125 14.3333C16.125 12.9078 16.6913 11.5406 17.6993 10.5326C18.7073 9.52463 20.0744 8.95833 21.5 8.95833C22.9255 8.95833 24.2927 9.52463 25.3007 10.5326C26.3087 11.5406 26.875 12.9078 26.875 14.3333H16.125ZM12.5416 14.3333C12.5416 11.9574 13.4855 9.67885 15.1655 7.99884C16.8455 6.31882 19.1241 5.375 21.5 5.375C23.8759 5.375 26.1545 6.31882 27.8345 7.99884C29.5145 9.67885 30.4583 11.9574 30.4583 14.3333H35.8333C36.0822 14.3333 36.3284 14.3852 36.5561 14.4856C36.7839 14.5859 36.9882 14.7327 37.1561 14.9164C37.324 15.1002 37.4517 15.3168 37.5312 15.5527C37.6107 15.7885 37.6402 16.0384 37.6178 16.2863L36.1218 32.7373C36.0002 34.0728 35.3838 35.3146 34.3936 36.2189C33.4035 37.1232 32.111 37.6247 30.7701 37.625H12.2299C10.8889 37.6247 9.59649 37.1232 8.60632 36.2189C7.61615 35.3146 6.99977 34.0728 6.87819 32.7373L5.38215 16.2863C5.35975 16.0384 5.38924 15.7885 5.46874 15.5527C5.54824 15.3168 5.67601 15.1002 5.8439 14.9164C6.01179 14.7327 6.21612 14.5859 6.44386 14.4856C6.6716 14.3852 6.91776 14.3333 7.16665 14.3333H12.5416Z" fill="white"/>
          </svg>
        </a>

        {# Profil #}
        <a href="{{ path('app_profile') }}" class="icon">
          <svg width="22" height="22" viewBox="0 0 43 43" fill="none">
            <path d="M21.5 3.58398C23.2718 3.58398 25.0038 4.10938 26.477 5.09374C27.9502 6.07809 29.0984 7.47719 29.7764 9.11411C30.4544 10.751 30.6318 12.5523 30.2862 14.29C29.9405 16.0277 29.0873 17.624 27.8345 18.8768C26.5816 20.1297 24.9854 20.9829 23.2477 21.3285C21.5099 21.6742 19.7087 21.4968 18.0718 20.8187C16.4349 20.1407 15.0358 18.9925 14.0514 17.5193C13.067 16.0461 12.5416 14.3141 12.5416 12.5423L12.5506 12.1535C12.6508 9.8472 13.6374 7.66859 15.3048 6.072C16.9721 4.47541 19.1915 3.58412 21.5 3.58398ZM25.0833 25.084C27.4592 25.084 29.7378 26.0278 31.4178 27.7078C33.0978 29.3878 34.0416 31.6664 34.0416 34.0423V35.834C34.0416 36.7843 33.6641 37.6958 32.9921 38.3678C32.3201 39.0398 31.4087 39.4173 30.4583 39.4173H12.5416C11.5913 39.4173 10.6799 39.0398 10.0078 38.3678C9.33584 37.6958 8.95831 36.7843 8.95831 35.834V34.0423C8.95831 31.6664 9.90213 29.3878 11.5821 27.7078C13.2622 26.0278 15.5407 25.084 17.9166 25.084H25.0833Z" fill="white"/>
          </svg>
        </a>

        {# Paramètres (page pas encore créée) #}
        <a href="{{ path('app_settings') }}" class="icon">
          <svg width="20" height="20" viewBox="0 0 33 33" fill="none">
            <path d="M18.2789 0C18.764 0 19.198 0.30195 19.3613 0.75405L20.5262 3.9831C20.9431 4.0865 21.3028 4.1921 21.6053 4.2999C21.9353 4.4176 22.3643 4.5991 22.8923 4.8444L25.6049 3.4089C25.8262 3.29106 26.0798 3.24842 26.3275 3.28741C26.5751 3.3264 26.8034 3.44491 26.9777 3.62505L29.3636 6.0918C29.6804 6.42015 29.7695 6.9003 29.5913 7.3194L28.3192 10.301C28.5293 10.6882 28.6987 11.0204 28.8274 11.2976C28.966 11.5979 29.1376 12.0159 29.3422 12.5516L32.3072 13.8221C32.7527 14.0118 33.0283 14.4573 32.9986 14.9342L32.7808 18.3579C32.7659 18.5803 32.686 18.7935 32.5511 18.9709C32.4162 19.1484 32.2321 19.2823 32.0218 19.3562L29.2135 20.3544C29.1332 20.7416 29.0485 21.0749 28.9594 21.3543C28.8152 21.7873 28.6511 22.2135 28.4677 22.6314L29.8784 25.7499C29.9788 25.9689 30.006 26.2143 29.9561 26.4499C29.9062 26.6856 29.7818 26.8989 29.6012 27.0584L26.9183 29.4542C26.742 29.6119 26.5215 29.7117 26.2866 29.74C26.0517 29.7683 25.8137 29.7239 25.6049 29.6126L22.8395 28.1474C22.4073 28.3773 21.9609 28.5796 21.503 28.7529L20.2952 29.205L19.2227 32.175C19.1425 32.392 18.9989 32.5799 18.8106 32.7143C18.6224 32.8488 18.398 32.9236 18.1667 32.9291L15.0317 33C14.7942 33.0055 14.5608 32.9377 14.3633 32.8057C14.1657 32.6737 14.0137 32.484 13.9279 32.2625L12.664 28.9179C12.2329 28.7702 11.8059 28.6107 11.3836 28.4394C11.0383 28.2899 10.6982 28.1287 10.3639 27.956L7.22889 29.2957C7.0224 29.3843 6.79457 29.4107 6.5733 29.3717C6.35204 29.3327 6.14694 29.2301 5.98314 29.0763L3.66324 26.9C3.48988 26.739 3.37179 26.5275 3.32586 26.2955C3.27993 26.0634 3.3085 25.8228 3.40749 25.608L4.75554 22.671C4.57689 22.3228 4.41069 21.9684 4.25724 21.6084C4.0785 21.1676 3.91342 20.7213 3.76224 20.2703L0.80874 19.371C0.568666 19.2984 0.359271 19.1486 0.213073 18.9449C0.0668756 18.7411 -0.00794186 18.4947 0.000240113 18.2441L0.11574 15.0744C0.12432 14.8677 0.189069 14.6672 0.303028 14.4945C0.416988 14.3218 0.575849 14.1835 0.76254 14.0943L3.86124 12.606C4.00424 12.0802 4.13074 11.6688 4.24074 11.3718C4.39642 10.9729 4.56928 10.5809 4.75884 10.197L3.41574 7.359C3.31304 7.14364 3.28167 6.90115 3.32617 6.66675C3.37068 6.43234 3.48875 6.21823 3.66324 6.0555L5.97984 3.8676C6.14202 3.71407 6.34523 3.61085 6.56486 3.57044C6.7845 3.53003 7.01114 3.55416 7.21734 3.6399L10.349 4.9335C10.6944 4.7036 11.009 4.5144 11.2928 4.3659C11.6305 4.1877 12.0837 3.9974 12.6524 3.795L13.7414 0.75735C13.8228 0.535577 13.9701 0.34407 14.1637 0.20865C14.3572 0.0732295 14.5876 0.000406906 14.8238 0L18.2789 0ZM16.5398 11.5814C13.7893 11.5814 11.5601 13.7841 11.5601 16.5033C11.5601 19.2225 13.7893 21.4269 16.5398 21.4269C19.2904 21.4269 21.5179 19.2225 21.5179 16.5033C21.5179 13.7841 19.2904 11.5814 16.5398 11.5814Z" fill="white"/>
          </svg>
        </a>
      {% else %}
        <a href="{{ path('app_login') }}" class="icon header-link-text">Se connecter</a>
        <a href="{{ path('app_register') }}" class="icon header-link-text">S'inscrire</a>
      {% endif %}
    </div>
  </div>

  <nav class="hero-nav">
    <a href="{{ path('app_shop') }}" class="hero-nav-link">Boutique</a>
    <a href="#" class="hero-nav-link">Catalogues</a>
    <a href="{{ path('app_contact') }}" class="header-nav-link">Contacts</a>
  </nav>

  <img class="hero-banner" src="{{ asset('images/image-header-MBL.png') }}" alt="Bannière MadeByLoop">
</section>
{% endblock %}

{% block body %}

<!-- CATEGORIES -->
<section class="section">
  <h2 class="section-title">Catégories</h2>
  <div class="category-grid">
    {% for category in categories %}
      <a href="#" class="category-card">
        <div class="category-img">
          {% if 'ièce' in category.name %}
            <img src="{{ asset('images/Category/pièce-unique-crochet-site.png') }}" alt="{{ category.name }}">
          {% elseif 'ccessoire' in category.name %}
            <img src="{{ asset('images/Category/accessoire-crochet-site.png') }}" alt="{{ category.name }}">
          {% elseif 'éco' in category.name %}
            <img src="{{ asset('images/Category/deco-crochet-site.png') }}" alt="{{ category.name }}">
          {% elseif 'ébé' in category.name %}
            <img src="{{ asset('images/Category/bebe&enfants-crochet-site.png') }}" alt="{{ category.name }}">
          {% elseif 'ode' in category.name %}
            <img src="{{ asset('images/Category/mode&vetements-crochet-site.png') }}" alt="{{ category.name }}">
          {% else %}
            <img src="{{ asset('images/Category/cadeau-crochet-site.png') }}" alt="{{ category.name }}">
          {% endif %}
        </div>
        <p class="category-name">{{ category.name }}</p>
      </a>
    {% endfor %}
  </div>
  <a href="{{ path('app_shop') }}" class="section-link">voir plus</a>
</section>

{% endblock %}
